/* --- GENERAL STYLES --- */


*, *:before, *:after {
	box-sizing: border-box;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}

body {
	background-image: url('../../Images/triangles/triangles.png')
}

.display-block {
	display: block;
}

main {
	clear: both;
	overflow: visible;
}

footer {
	background-color: #000;
}

small {
	color: #d7d7d7;
}

.page-break {
	width: 95%;
	height: 8px;
	display: block;
	background-color: #d7d7d7;
	margin: 30px auto;
	-ms-transform: skew(-60deg);
    -webkit-transform: skew(-60deg);
    transform: skew(-60deg);
    background: repeating-linear-gradient( -55deg, #d7d7d7, #222 5px, #222 5px, #222 6px );
}



/* --- HEADER --- */


header {
	height: 160px;
	width: 97%;
	margin: 0 auto;
	margin-top: 30px;
}

#title,
#logo {
	float: left;
	/*display: inline-block;*/
	/*	height: 100%;*/
}	

#title {
	height: 130px;
	line-height: 130px;
	width: 74%;
	font-size: 48px;
	padding-left: 265px;
	text-transform: uppercase;
	border: 5px solid #000;
	border-left: none;
	margin: 15px 0;
	display: block;
	position: relative;
	background-position: center;
	background-color: rgba(248, 230, 216, 0.30);
	color: #fff;
	text-shadow: 2px 2px #FF0000;
}

#title:before {
	content: "";
	background-image: url('../../Images/marvel-characters.jpg');
	position: absolute;
	opacity: 0.5;
	z-index: -1;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	filter: opacity(60%);
}


#logo {
	border: 8px solid #000;
	height: 100%;
	width: 26%;
}


/* --- Thumbnails --- */



.thumb {
	display: block;
	width: 200px;
	height: 200px;
	-webkit-clip-path: polygon(43% 96%, 36% 85%, 19% 100%, 18% 79%, 4% 70%, 18% 55%, 0 41%, 18% 31%, 0 13%, 21% 16%, 23% 0%, 40% 13%, 52% 4%, 61% 15%, 84% 3%, 80% 24%, 100% 27%, 86% 48%, 97% 62%, 84% 70%, 92% 89%, 73% 84%, 66% 100%, 55% 87%);
	clip-path: polygon(43% 96%, 36% 85%, 19% 100%, 18% 79%, 4% 70%, 18% 55%, 0 41%, 18% 31%, 0 13%, 21% 16%, 23% 0%, 40% 13%, 52% 4%, 61% 15%, 84% 3%, 80% 24%, 100% 27%, 86% 48%, 97% 62%, 84% 70%, 92% 89%, 73% 84%, 66% 100%, 55% 87%);
	margin: 5px auto;
}

.char-name,
.score {
	color: #4a4a4a;
	width: 100%;
	text-align: center;
}

.char-list {
	list-style-type: none;
	float: left;
	width: 25%;
	padding-top: 20px;
}

.list-container {
	background-color: #4a4a4a;
	margin-bottom: 50px;
	width: 96%;
	display: block;
	margin: 0 auto;
	padding: 20px 0;
	margin-bottom: 50px;
}

.list {
	background-color: #d7d7d7;
	width: 97%;
	display: block;
	margin: 0 auto;
	padding: 20px 0;
	height: 570px;
	overflow: auto;
}

ul {
	width: 90%;
	/*height: 300px;*/
	display: block;
	margin: 0 auto;
	padding: 0;
}

.result-name {
	text-align: center;
    color: #9b9b9b;
    margin: 0;
    background-color: #000;
    height: 60px;
    line-height: 60px;
    width: 96%;
    margin: 0 auto;
    text-transform: uppercase;
}



/* --- Character Select View --- */



.container {
	margin-top: 30px;
	height: 500px;
	background-color: #000;
	position: relative;
}

#image-left,
#image-right {
    height: 500px;
    /*overflow: hidden;*/
}

#container-left,
#container-right {
	width: 52.5vw;
    height: 435px;
    background: #d7d7d7;
    top: 32.5px;
    position: absolute;
    background-image: url('../Images/default-hero.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /*opacity: 0.5;*/
}

#container-left {
    left: 2%;
 	-webkit-clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);   
 	clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);   
}


#container-right {
	right: 2%; 
	background-color: #d7d7d7; 
	-webkit-clip-path: polygon(100% 100%, 100% 0%, 20% 0%, 0% 100%);   
 	clip-path: polygon(100% 100%, 100% 0%, 20% 0%, 0% 100%);   
}


#left {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#right {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	/*-webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);*/
    
}


/* --- Search and Fight Buttons --- */



.search-bar {
	width: 100%;
	height: 50px;
	margin-top: 20px;
	position: relative;
}

.search-left .search-results  {
	position: absolute;
    left: 30px;
    top: 8px;
    height: 42px;
    width: 275px;
}

.search-results  {
	position: absolute;
	right: 30px;
	top: 8px;
	 height: 42px;
    width: 275px;
}


.fight-button {
	position: absolute;
    left: 42.5vw;
    top: 4px;
    width: 195px;
    height: 50px;
    cursor: pointer;
    outline: none;
    background-color: red;
    color: #d7d7d7;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-size: 30px;
}

.search-left button,
.search-right button {
	position: absolute;
    top: 8px;
    height: 42px;
    width: 105px;
    cursor: pointer;
    outline: none;
    background-color: #4a4a4a;
    border: none;
    color: #d7d7d7;
    text-transform: uppercase;
    font-weight: bold;
}

.search-left button {
	left: 325px;
}

.search-right button {
	right: 325px;
}



/* --- STATS - WINS/LOSSES --- */



span {
	color: #d7d7d7;
}

.left-stats {
	float: left;
	display: block;
	margin-left: 2%;
	margin-top: 8px;
}

.right-stats {
	float: right;
	display: block;
	margin-right: 2%;
	margin-top: 8px;
}



/* --- BATTLE FEED --- */



#battle-list li {
    transition: height 1s 0s, opacity 1s;
    background-color: #fff;
    margin-top: 10px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 8px;
    box-shadow: 0px 5px 5px #888888;
    padding: 1.4em 0;
    line-height: 1em
}

.display-block {
	height: 65px !important;
    opacity: 1 !important;
    line-height: 65px;
    margin: 5px 0;
    width: 100%;
    text-align: center;
}
















